@model SMI.Areas.Admin.Models.HashTagsList

@if (Model.Items.Any())
{
    <table class="table table-striped sites">
        <thead>
            <tr>
                <th width="50">
                    <a data-sortfield="id" data-sortorder="@Model.SortFieldForLink("id")" href="javascript:void(0);"
                       class="sorting-name"><span class="bi @Model.SortFieldForLinkForClass("id")"></span>Id</a>
                </th>
                <th>
                    <a data-sortfield="name" data-sortorder="@Model.SortFieldForLink("name")" href="javascript:void(0);"
                       class="sorting-name"><span class="bi @Model.SortFieldForLinkForClass("name")"></span>Название</a>
                </th>


                <th width="50"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr data-id="@item.Id">
                    <td>@item.Id</td>
                    <td>
                        <a href="/admin/hashtags/edit/@item.Id">
                            @item.Name
                        </a>
                    </td>

                    <td>
                        <a href="/admin/hashtags/remove?id=@item.Id" class="btn btn-link remove"><i class="bi bi-x-lg"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="float:left;width:100%;padding:40px;">
        @("Материалы не найдены")
    </div>
}